{{template "base" .}}

{{define "content"}}

    <div class="container">
        <div class="row">
            <div class="col">
                <p class="mt-4">This is a the contact page, served from a Go template.</p>

                <p>The phone number passed to this template is {{index .StringMap "phone"}}</p>
            </div>
        </div>
    </div>

{{end}}