<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>

<body>
<p>This is a the contact page, served from a Go template.</p>

<p>The phone number passed to this template is {{index .StringMap "phone"}}</p>
</body>

</html>