<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
<p>This is a the home page, served from a Go template.</p>

<p>Links:</p>
<ul>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About</a></li>
</ul>
</body>

</html>